.container-contact{
    border: 2px solid black;
}

.container-title{
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.col-content img{
    width: 15%;
    margin-bottom: 10px;
}
.col-content h5{
    margin-top: 15px;
    color: #fff;
}
.container-icons{
    padding: 0 100px 0 100px;
}

.col-content{
    background-color: #2F6073;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin-top: 5px;
}

.container-btn{
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btn-contact{
    background-color: #2F6073 !important;
    color: #fff;
}